:root {
  --primary-clr: #57007e;
  --secondary-clr: #c400c6;
  --dark-clr: #090057;
  --accent-clr: #ffa069;
  --light-clr: rgb(238, 238, 238);
  --black: #000;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  gap: 10rem;
  height: 100vh;
  max-width: 50%;
  margin-top: 10rem;
  background: linear-gradient(to bottom, var(--dark-clr), var(--black));
  color: var(--secondary-clr);
  font-size: 6rem;
}

main {
  display: flex;
  height: fit-content;
  padding: 5rem 7rem 10rem;
  background: linear-gradient(
    to bottom,
    var(--primary-clr),
    20%,
    var(--dark-clr)
  );
  border-radius: 3rem;
  border: 1rem solid var(--secondary-clr);
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.sign-in-form header {
  margin-bottom: 10rem;
  text-transform: uppercase;
  font-weight: 700;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--light-clr);
  gap: 10rem;
}

.input-user,
.input-password {
  display: flex;
  flex-direction: column;
  width: 50vh;
  font-size: 4rem;
  border: none;
  outline: none;
  appearance: none;
  background: rgba(1, 1, 1, 10%);
  padding: 50px 100px;
  border-radius: 3rem;
  opacity: 70%;
  background-color: var(--dark-clr);
  color: var(--light-clr);
}

.input-user:hover,
.input-password:hover,
.input-user:active,
.input-password:active,
.input-user:focus,
.input-password:focus {
  opacity: 100%;
  background-color: var(--accent-clr);
}

.links {
  display: flex;
  gap: 30rem;
  padding: 10rem;
  white-space: nowrap;
}

.links a {
  opacity: 60%;
  transition: 0.5s;
}

.links a:hover {
  opacity: 80%;
  color: var(--accent-clr);
}

.links a:active {
  opacity: 100%;
  color: var(--accent-clr);
  transform: translateY(-2rem);
}

a {
  color: var(--light-clr);
  text-decoration: none;
  font-size: 4.5rem;
}

.login-btn {
  appearance: none;
  border: none;
  background-color: var(--accent-clr);
  opacity: 80%;
  font-size: 5rem;
  padding: 2rem 4rem;
  border-radius: 2rem;
  margin-bottom: 10rem;
}

.login-btn:hover,
.login-btn:active {
  opacity: 100%;
  color: var(--light-clr);
  box-shadow: 10px 10px #ff650c 10px;
  cursor: pointer;
}

.login-btn:active {
  transform: translateY(-2rem);
  transition: 0.3s;
}

.other-sign-in {
  color: var(--light-clr);
  transition: 0.3s;
  font-size: 5rem;
  gap: 1rem;
}

.other-sign-in a {
  font-size: 5rem;
  color: var(--secondary-clr);
}

.other-sign-in p:nth-child(1) {
  margin-bottom: 5rem;
}

.other-sign-in a:hover,
.other-sign-in a:active {
  font-size: 5rem;
  color: var(--accent-clr);
  opacity: 100%;
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.3s;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10rem;
  font-size: 15rem;
  opacity: 80%;
  color: var(--secondary-clr);
}

.icons i:hover,
.icons i:active {
  opacity: 100%;
  color: var(--accent-clr);
  box-shadow: 10px 10px #ff650c 10px;
  cursor: pointer;
  transform: translateY(-2rem);
  transition: 0.3s;
}

.icons :nth-child(1):active {
  margin-right: 2rem;
  transition: 0.3s;
}

.icons :nth-child(2):active {
  margin-left: 2rem;
  margin-right: 2rem;
  transition: 0.3s;
}

.icons :nth-child(3):active {
  margin-left: 2rem;
  transition: 0.3s;
}

@keyframes slideIn {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(0px);
  }
}

.main-img {
  animation-name: slideIn;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@media (max-width: 1800px) {
  .main-img img {
    display: none;
  }
  .links {
    gap: 10rem;
  }
}
